<!-- <div *ngIf="isLoginPage">
    <router-outlet></router-outlet>
</div>

all pages
<div *ngIf="!isLoginPage">
    Header

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-primary pt-1 pb-1 d-flex align-self-center">
                <div class="col-3 ">
                    <button class="bg-light" mat-mini-fab aria-label="Example icon button with menu icon"
                        (click)="showFiller = !showFiller">
                        <mat-icon class="bg-light">{{showFiller ? 'close': 'menu'}}</mat-icon>
                    </button>
                </div>
                <div class="col-6 heading">
                    <h2 style="color: #ffffff;"> Admin Dashboard</h2>
                </div>
            </div>
        </div>
    </div>

    Drawer-menu

    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="showFiller">
            <p>Auto-resizing sidenav</p>
            <mat-nav-list>
                <a routerLink="/users">
                    <mat-list-item>
                        <mat-icon mat-list-icon>add</mat-icon>
                        <div mat-line>Add account</div>
                    </mat-list-item>
                </a>
                <mat-list-item>
                    <mat-icon mat-list-icon>note</mat-icon>
                    <div mat-line>Dashboard</div>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>

        outer-outlet

        <div class="example-sidenav-cont">


            <router-outlet></router-outlet>

        </div>

    </mat-drawer-container>
</div> -->

<!-- <router-outlet></router-outlet> -->

<mat-drawer-container *ngIf="isLoginPage">
    <mat-drawer *ngIf="router.url !== '/login'" mode="side" [opened]="sideBarOpen">
      <app-sidenav ></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header *ngIf="router.url !== '/login'" (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>