<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/c_logo/logo.png" alt="readyassist_logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Application</h2>
    <ul>
        <li>
             <button routerLink="/home" routerLinkActive="ul-li-button">
                <span class="icon"><mat-icon>home</mat-icon></span><span class="homtext">Home</span>
            </button>
        </li>
        <li>
             <button routerLink="/users" routerLinkActive="ul-li-button">
                <span class="icon"><mat-icon>add</mat-icon></span><span class="homtext">Add user</span>
            </button>
        </li>
    </ul>
    <!-- <a mat-list-item  routerLink="/home" [routerLinkActive]="['mat-list-item.active']"><mat-icon>home</mat-icon> Home</a>
    <a mat-list-item routerLink="/users" [routerLinkActive]="['mat-list-item.active']"><mat-icon>add</mat-icon> Add user</a>
    <a mat-list-item ><mat-icon>edit</mat-icon> Link</a>
    <a mat-list-item ><mat-icon>edit</mat-icon> Link</a>
    <a mat-list-item ><mat-icon>edit</mat-icon> Link</a> -->

</mat-nav-list>